<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
        <head>
                <title>{{HTMLTitle}}</title>
                <meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
                <link  href="{{/theme/}}styles/base.css" rel="stylesheet" type="text/css" />
                <script language="javascript" src="{{/theme/}}js/custom.js"></script>
        </head>
        <body>

{{HTML:Body}}

        </body>
</html>