
CharsetRecodeMultipartForms Off

RewriteEngine on

RewriteCond    %{REQUEST_FILENAME}  -d
RewriteRule ^(.*/[^\./]*[^/])$ $1/

# RewriteRule ^flash.swf$ flash.swf [QSA,L]

RewriteRule ^(.*)$ front/index.php?page=$1 [QSA,L]

# php_value session.use_trans_sid 0